*{
    padding:0;
    margin: 0;
}
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: lightgrey;
}
header{
    background: #184280;
    width: 100%;
    height: 10%;
    min-height: 75px;
}
main{
    margin-top: 10px;
}

main button{
    background: #184280;
}
main div[class^="col-md-"]{
    background: white;
}
.star{
    width: 15px;
    color: gold;
}
.infoPrecio{
    border-left: darkgrey 1px dashed;
}